@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-size: 15px;
  --primary: linear-gradient(#a3a8f0, #696fdd);
  --background: hsl(240, 78%, 98%);
  --accent: hsl(234, 14%, 74%);
  --accent2: hsl(233, 13%, 49%);
  --accent3: hsl(232, 13%, 33%);
}

* {
  /* outline: solid 1px red; */
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--background);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 4rem;
}

ul {
  list-style-type: none;
  padding: 0rem 2rem;
  display: grid;
  text-align: center;
  align-items: center;
}

li {
  padding: 1.5rem 0rem;
}

button {
  border: none;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.heading {
  margin-top: 6rem;
}

.components {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-top: 6rem;
  div {
    border-radius: 10px;
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.1);
  }
  div.basic {
    border-radius: 10px 0px 0px 10px;
  }
  div.master {
    border-radius: 0px 10px 10px 0px;
  }
}

.basic {
  button {
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
  }
}

.professional {
  height: 110%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.master {
  button {
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
  }
}

.white-bg {
  background-color: white;
  color: var(--accent3);
}

.violet-bg {
  background-image: var(--primary);
  color: white;
  button {
    color: #696fdd;
  }
}

.border-bottom {
  border-bottom: solid 1px;
}

.grey-opacity {
  border-color: hsla(232, 13%, 33%, 0.2);
}

.white-opacity {
  border-color: rgba(255, 255, 255, 0.2);
}

.no-bot-pad {
  padding-bottom: 0px;
}
